In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns

In [ ]:
dataset = pd.read_excel("golf_df.xlsx")
dataset.tail()

       clima  temp umidade vento jogar
9      rainy  mild  normal    no   yes
10     sunny  mild  normal   yes   yes
11  overcast  mild    high   yes   yes
12  overcast   hot  normal    no   yes
13     rainy  mild    high   yes    no

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#nome do carro
le.fit(dataset.clima) 
dataset.clima = le.transform(dataset.clima)

#nome do carro
le.fit(dataset.temp) 
dataset.temp = le.transform(dataset.temp)

#nome do carro
le.fit(dataset.umidade) 
dataset.umidade = le.transform(dataset.umidade)

#nome do carro
le.fit(dataset.vento) 
dataset.vento = le.transform(dataset.vento)


#nome do carro
le.fit(dataset.jogar) 
dataset.jogar = le.transform(dataset.jogar)

In [ ]:
dataset

    clima  temp  umidade  vento  jogar
0       2     1        0      0      0
1       2     1        0      1      0
2       0     1        0      0      1
3       1     2        0      0      1
4       1     0        1      0      1
5       1     0        1      1      0
6       0     0        1      1      1
7       2     2        0      0      0
8       2     0        1      0      1
9       1     2        1      0      1
10      2     2        1      1      1
11      0     2        0      1      1
12      0     1        1      0      1
13      1     2        0      1      0

In [ ]:
x = dataset.iloc[:, :-1]

y = dataset[["jogar"]]

In [ ]:
model = LogisticRegression()
model.fit(x, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
predict = model.predict(x)

In [ ]:
x["prediction"] = predict

y_test = pd.DataFrame(y)

x["real"] = y["jogar"]
x.head(20)

    clima  temp  umidade  vento  prediction  real
0       2     1        0      0           0     0
1       2     1        0      1           0     0
2       0     1        0      0           1     1
3       1     2        0      0           1     1
4       1     0        1      0           1     1
5       1     0        1      1           1     0
6       0     0        1      1           1     1
7       2     2        0      0           0     0
8       2     0        1      0           1     1
9       1     2        1      0           1     1
10      2     2        1      1           1     1
11      0     2        0      1           1     1
12      0     1        1      0           1     1
13      1     2        0      1           1     0